



.background-image {
    background-image: url('img/black.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.gym {
text-align: center;
text-decoration: none;
}
.gym a {
text-align: center;
text-decoration: none;
color: white;
}
.description {
text-align: center;
font-size: 20px;


}
.horizontal-list {
    text-align: center;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; 
}

.horizontal-list li {
    margin-right: 10px; 
}

a {
    color: red;
}

.horizontal-list li:last-child {
    margin-right: 0; 
}
h2 {
    text-align: center;
    margin: 0;
}
p {

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 25% 0px;
    padding-bottom: 50px;
    color: #fff;
    font-size: 16px;
}
.exercisesdesc {
    margin-bottom: 60px;
}
h3 {
    margin-top: 100px;
}
.weight {
    width: 1000px;
    margin: 0 auto;
}

.exercises{
    font-size: 1.5em;
}

.zoomable {
    transition: transform 0.2s;
    cursor: pointer;
}

.zoomable.zoomed {
    transform: scale(1.2);
}

.contacts td {
    line-height: 1;
  }

  #reviewsContainer {
    width: 50%;
    height: 50%;
    background-color: #f5f5f5;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 5px;
}

#reviewsContainer p {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
}


#addReviewButton {
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#reviewInput {
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

form {
    margin: 10px 0;
}

.review {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.review p {
    margin: 0;
}

.div_about {
    margin: 0;
}

.horizontal-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 600px) {

    p {
        font-size: 15px;
    }
.exercises {
    font-size: 18x;
}
    li {
        font-size: 20px;
    }
    
    img {
        max-width: 100%;
        height: auto;
      }

    h1 {
        font-size: 24px;
      }
    .horizontal-list {
        flex-direction: column;
    }

    .horizontal-list li {
        margin-bottom: 10px;
    }
    .contacts {
        width: 0%;
    }

    .contacts td {
        display: block; /* Переключаем ячейки таблицы в вертикальное положение */
        text-align: left; /* Выравниваем текст слева */
        margin-bottom: 10px; /* Добавляем немного отступа между ячейками */
    }
}